In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from datetime import datetime

In [14]:
import sys
import os
root_path = os.path.abspath(os.path.join(os.getcwd(), "../.."))
if root_path not in sys.path:
    sys.path.append(root_path)
from fileDir import getDataDir, getModelDir, getPredDir

In [15]:
df = pd.read_csv(getDataDir("train", 3))

In [16]:
df.columns

Index(['ID', 'pms_i_ymd', 'Area', 'Province', 'Shop Name', 'gender',
       'date_of_birth_week', 'date_of_birth', 'marital_status',
       'number_of_children', 'postal_code', 'tel_category',
       'number_of_resident', 'living_period_year', 'living_period_month',
       'type_of_residence', 'c_postal_code', 'c_business_type',
       'c_number_of_employee', 'c_position', 'c_occupation',
       'c_employment_status', 'c_monthly_salary', 'c_number_of_working_year',
       'c_number_of_working_month', 'c_salary_payment_methods',
       'c_date_of_salary_payment', 'media', 'place_for_sending_information',
       'r_expected_credit_limit', 'r_propose', 'r_allloan_case',
       'r_allloan_amount', 'r_additional_income', 'r_spouse_income',
       'r_generalcode1', 'r_generalcode2', 'r_generalcode3', 'r_generalcode4',
       'r_generalcode5', 'apply', 'default_12month'],
      dtype='object')

In [17]:
df["pms_i_ymd"] = pd.to_datetime(df["pms_i_ymd"], errors="coerce")
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"], errors="coerce")
df["age"] = ((df["pms_i_ymd"] - df["date_of_birth"]).dt.days / 365).astype(float)
df["years_at_residence"] = df["living_period_year"] + df["living_period_month"] / 12
df["years_at_job"] = df["c_number_of_working_year"] + df["c_number_of_working_month"] / 12
df["total_income"] = df["c_monthly_salary"] + df["r_additional_income"] + df["r_spouse_income"]
df["debt_to_income_ratio"] = df["r_allloan_amount"] / (df["total_income"] + 1)
df["loan_burden_per_income"] = df["r_expected_credit_limit"] / (df["total_income"] + 1)

In [18]:
df_original = df.copy()
columns_to_remove = ['Area', 'Province', 'Shop Name','marital_status',
       'number_of_children', 'postal_code', 'number_of_resident', 'c_postal_code',
       'c_number_of_employee','media', 'place_for_sending_information', 'r_generalcode4',
       'r_generalcode5' ]
removed_data = df[columns_to_remove].copy()
df = df.drop(columns=columns_to_remove)

In [19]:
df.head()

,ID,pms_i_ymd,gender,date_of_birth_week,date_of_birth,tel_category,living_period_year,living_period_month,type_of_residence,c_business_type,...,r_generalcode2,r_generalcode3,apply,default_12month,age,years_at_residence,years_at_job,total_income,debt_to_income_ratio,loan_burden_per_income
0,202412000001,2018-04-02,F2,6,1971-05-18,3,5,0,6,7,...,NaN,2.0,WI,0,46.906849,5.000000,5.000000,9070.0,0.0,4.409657
1,202412000002,2018-04-02,M,4,1983-01-05,3,4,0,6,7,...,NaN,1.0,WI,0,35.263014,4.000000,5.333333,16765.0,0.0,1.192890
2,202412000003,2018-04-03,F2,5,1992-11-19,3,5,2,3,7,...,NaN,1.0,DS,0,25.386301,5.166667,0.250000,NaN,NaN,NaN
3,202412000004,2018-04-04,M,7,1990-11-03,3,4,3,5,3,...,NaN,1.0,WI,0,27.435616,4.250000,4.250000,13659.0,0.0,1.098097
4,202412000005,2018-04-04,F2,6,1994-12-16,3,0,4,4,7,...,NaN,1.0,DS,1,23.315068,0.333333,0.166667,7440.0,0.0,1.343905

In [20]:
df.shape

(32524, 35)

In [21]:
df = df.dropna()
df.shape

(11522, 35)

In [22]:
columns_to_remove2 = ["pms_i_ymd", "date_of_birth", "living_period_year",
         "living_period_month", "c_number_of_working_year",
         "c_number_of_working_month"]
removed_data2 = df[columns_to_remove2].copy()
df = df.drop(columns=columns_to_remove2)

In [23]:
df.shape

(11522, 29)

In [24]:
df.to_csv(getDataDir("cleaned", 3))

In [ ]:
df["pms_i_ymd"] = pd.to_datetime(df["pms_i_ymd"], errors="coerce")
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"], errors="coerce")
df["age"] = ((df["pms_i_ymd"] - df["date_of_birth"]).dt.days / 365).astype(float)
df["years_at_residence"] = df["living_period_year"] + df["living_period_month"] / 12
df["years_at_job"] = df["c_number_of_working_year"] + df["c_number_of_working_month"] / 12
df["total_income"] = df["c_monthly_salary"] + df["r_additional_income"] + df["r_spouse_income"]
df["debt_to_income_ratio"] = df["r_allloan_amount"] / (df["total_income"] + 1)
df["loan_burden_per_income"] = df["r_expected_credit_limit"] / (df["total_income"] + 1)

df_original = df.copy()
columns_to_remove = ['Area', 'Province', 'Shop Name','marital_status',
       'number_of_children', 'postal_code', 'number_of_resident', 'c_postal_code',
       'c_number_of_employee','media', 'place_for_sending_information', 'r_generalcode4',
       'r_generalcode5' ]
removed_data = df[columns_to_remove].copy()
df = df.drop(columns=columns_to_remove)

df = df.dropna()

columns_to_remove2 = ["pms_i_ymd", "date_of_birth", "living_period_year",
         "living_period_month", "c_number_of_working_year",
         "c_number_of_working_month"]
removed_data2 = df[columns_to_remove2].copy()
df = df.drop(columns=columns_to_remove2)

logistic_train_df = df